:root {
    --dark-brown: #59281c;
    --brown: #763626;
    --light-brown: #b57f72;
    --dark-skin: #d4b8b1;
    --skin: #ecd8d3;
    --dark-jeans: #336b87;
    --jeans: #90afc5;
    --fog: #f3f3f3;
}

a {
  color: var(--dark-jeans) !important;
}

nav a, nav > h2 > a {
  color: #0a0a0a !important;
}

h4.name {
  background: var(--dark-jeans);
}

h4.name a, .signature, .type-signature {
  color: var(--jeans);
}

span.param-type, .params td .param-type, .param-type dd, .tag-source a{
  color: var(--dark-brown);
}
